<a href="https://colab.research.google.com/github/SaraKarim23/Association-Rule-Mining-using-Apriori-Algorithm-for-Market-basket-Analysis/blob/main/Association_Rule_Mining_using_Apriori_Algorithm_for_Market_basket_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Load Datsets

In [2]:
dataset = [['Milk','Onion','Nutmeg','Kidney Beans','Eggs','Yogurt'],
           ['Oil','Onion','Nutmeg','Kidney Beans','Eggs','Yogurt'],
           ['Milk','Apple','Kidney Beans','Eggs'],
           ['Milk','Unicorn','Corn','Kidney Beans','Yogurt'],
           ['Corn','Onion','Nutmeg','Kidney Beans','Ice Cream','Eggs']]

# Import Libraries

In [3]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

# Print Datasets

In [4]:
dataset

[['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
 ['Oil', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
 ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
 ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
 ['Corn', 'Onion', 'Nutmeg', 'Kidney Beans', 'Ice Cream', 'Eggs']]

# Fit the Datasets

In [5]:
te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)

In [6]:
df = pd.DataFrame(te_ary, columns=te.columns_)
df

   Apple   Corn   Eggs  Ice Cream  ...    Oil  Onion  Unicorn  Yogurt
0  False  False   True      False  ...  False   True    False    True
1  False  False   True      False  ...   True   True    False    True
2   True  False   True      False  ...  False  False    False   False
3  False   True  False      False  ...  False  False     True    True
4  False   True   True       True  ...  False   True    False   False

[5 rows x 11 columns]

# Import Apriori

In [7]:
from mlxtend.frequent_patterns import apriori
frequent_itemsets = apriori(df, min_support=0.6,use_colnames=True)
frequent_itemsets

    support                             itemsets
0       0.8                               (Eggs)
1       1.0                       (Kidney Beans)
2       0.6                               (Milk)
3       0.6                             (Nutmeg)
4       0.6                              (Onion)
5       0.6                             (Yogurt)
6       0.8                 (Eggs, Kidney Beans)
7       0.6                       (Eggs, Nutmeg)
8       0.6                        (Eggs, Onion)
9       0.6                 (Kidney Beans, Milk)
10      0.6               (Kidney Beans, Nutmeg)
11      0.6                (Kidney Beans, Onion)
12      0.6               (Yogurt, Kidney Beans)
13      0.6                      (Nutmeg, Onion)
14      0.6         (Eggs, Kidney Beans, Nutmeg)
15      0.6          (Eggs, Kidney Beans, Onion)
16      0.6                (Eggs, Nutmeg, Onion)
17      0.6        (Kidney Beans, Nutmeg, Onion)
18      0.6  (Eggs, Kidney Beans, Nutmeg, Onion)

# Association Rule Mining

In [8]:
from mlxtend.frequent_patterns import association_rules
res = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.7)
res

                      antecedents  ... conviction
0                          (Eggs)  ...        inf
1                  (Kidney Beans)  ...        1.0
2                          (Eggs)  ...        1.6
3                        (Nutmeg)  ...        inf
4                          (Eggs)  ...        1.6
5                         (Onion)  ...        inf
6                          (Milk)  ...        inf
7                        (Nutmeg)  ...        inf
8                         (Onion)  ...        inf
9                        (Yogurt)  ...        inf
10                       (Nutmeg)  ...        inf
11                        (Onion)  ...        inf
12           (Eggs, Kidney Beans)  ...        1.6
13                 (Eggs, Nutmeg)  ...        inf
14         (Kidney Beans, Nutmeg)  ...        inf
15                         (Eggs)  ...        1.6
16                       (Nutmeg)  ...        inf
17           (Eggs, Kidney Beans)  ...        1.6
18                  (Eggs, Onion)  ...        inf
19          (Kidney Beans, Onion)  ...        inf
20                         (Eggs)  ...        1.6
21                        (Onion)  ...        inf
22                 (Eggs, Nutmeg)  ...        inf
23                  (Eggs, Onion)  ...        inf
24                (Onion, Nutmeg)  ...        inf
25                         (Eggs)  ...        1.6
26                       (Nutmeg)  ...        inf
27                        (Onion)  ...        inf
28         (Kidney Beans, Nutmeg)  ...        inf
29          (Kidney Beans, Onion)  ...        inf
30                (Onion, Nutmeg)  ...        inf
31                       (Nutmeg)  ...        inf
32                        (Onion)  ...        inf
33   (Eggs, Kidney Beans, Nutmeg)  ...        inf
34    (Eggs, Kidney Beans, Onion)  ...        inf
35          (Eggs, Onion, Nutmeg)  ...        inf
36  (Kidney Beans, Onion, Nutmeg)  ...        inf
37           (Eggs, Kidney Beans)  ...        1.6
38                 (Eggs, Nutmeg)  ...        inf
39                  (Eggs, Onion)  ...        inf
40         (Kidney Beans, Nutmeg)  ...        inf
41          (Kidney Beans, Onion)  ...        inf
42                (Onion, Nutmeg)  ...        inf
43                         (Eggs)  ...        1.6
44                       (Nutmeg)  ...        inf
45                        (Onion)  ...        inf

[46 rows x 9 columns]

# New Dataframe

In [9]:
res1 = res[['antecedents','consequents', 'support', 'confidence','lift']]
res1

                      antecedents  ...      lift
0                          (Eggs)  ...  1.000000
1                  (Kidney Beans)  ...  1.000000
2                          (Eggs)  ...  1.250000
3                        (Nutmeg)  ...  1.250000
4                          (Eggs)  ...  1.250000
5                         (Onion)  ...  1.250000
6                          (Milk)  ...  1.000000
7                        (Nutmeg)  ...  1.000000
8                         (Onion)  ...  1.000000
9                        (Yogurt)  ...  1.000000
10                       (Nutmeg)  ...  1.666667
11                        (Onion)  ...  1.666667
12           (Eggs, Kidney Beans)  ...  1.250000
13                 (Eggs, Nutmeg)  ...  1.000000
14         (Kidney Beans, Nutmeg)  ...  1.250000
15                         (Eggs)  ...  1.250000
16                       (Nutmeg)  ...  1.250000
17           (Eggs, Kidney Beans)  ...  1.250000
18                  (Eggs, Onion)  ...  1.000000
19          (Kidney Beans, Onion)  ...  1.250000
20                         (Eggs)  ...  1.250000
21                        (Onion)  ...  1.250000
22                 (Eggs, Nutmeg)  ...  1.666667
23                  (Eggs, Onion)  ...  1.666667
24                (Onion, Nutmeg)  ...  1.250000
25                         (Eggs)  ...  1.250000
26                       (Nutmeg)  ...  1.666667
27                        (Onion)  ...  1.666667
28         (Kidney Beans, Nutmeg)  ...  1.666667
29          (Kidney Beans, Onion)  ...  1.666667
30                (Onion, Nutmeg)  ...  1.000000
31                       (Nutmeg)  ...  1.666667
32                        (Onion)  ...  1.666667
33   (Eggs, Kidney Beans, Nutmeg)  ...  1.666667
34    (Eggs, Kidney Beans, Onion)  ...  1.666667
35          (Eggs, Onion, Nutmeg)  ...  1.000000
36  (Kidney Beans, Onion, Nutmeg)  ...  1.250000
37           (Eggs, Kidney Beans)  ...  1.250000
38                 (Eggs, Nutmeg)  ...  1.666667
39                  (Eggs, Onion)  ...  1.666667
40         (Kidney Beans, Nutmeg)  ...  1.666667
41          (Kidney Beans, Onion)  ...  1.666667
42                (Onion, Nutmeg)  ...  1.250000
43                         (Eggs)  ...  1.250000
44                       (Nutmeg)  ...  1.666667
45                        (Onion)  ...  1.666667

[46 rows x 5 columns]

In [10]:
res2 = res1[res1['confidence']>=1]
res2

                      antecedents  ...      lift
0                          (Eggs)  ...  1.000000
3                        (Nutmeg)  ...  1.250000
5                         (Onion)  ...  1.250000
6                          (Milk)  ...  1.000000
7                        (Nutmeg)  ...  1.000000
8                         (Onion)  ...  1.000000
9                        (Yogurt)  ...  1.000000
10                       (Nutmeg)  ...  1.666667
11                        (Onion)  ...  1.666667
13                 (Eggs, Nutmeg)  ...  1.000000
14         (Kidney Beans, Nutmeg)  ...  1.250000
16                       (Nutmeg)  ...  1.250000
18                  (Eggs, Onion)  ...  1.000000
19          (Kidney Beans, Onion)  ...  1.250000
21                        (Onion)  ...  1.250000
22                 (Eggs, Nutmeg)  ...  1.666667
23                  (Eggs, Onion)  ...  1.666667
24                (Onion, Nutmeg)  ...  1.250000
26                       (Nutmeg)  ...  1.666667
27                        (Onion)  ...  1.666667
28         (Kidney Beans, Nutmeg)  ...  1.666667
29          (Kidney Beans, Onion)  ...  1.666667
30                (Onion, Nutmeg)  ...  1.000000
31                       (Nutmeg)  ...  1.666667
32                        (Onion)  ...  1.666667
33   (Eggs, Kidney Beans, Nutmeg)  ...  1.666667
34    (Eggs, Kidney Beans, Onion)  ...  1.666667
35          (Eggs, Onion, Nutmeg)  ...  1.000000
36  (Kidney Beans, Onion, Nutmeg)  ...  1.250000
38                 (Eggs, Nutmeg)  ...  1.666667
39                  (Eggs, Onion)  ...  1.666667
40         (Kidney Beans, Nutmeg)  ...  1.666667
41          (Kidney Beans, Onion)  ...  1.666667
42                (Onion, Nutmeg)  ...  1.250000
44                       (Nutmeg)  ...  1.666667
45                        (Onion)  ...  1.666667

[36 rows x 5 columns]